<!-- 底部菜单-箭头 -->
<div class="hidden posifi footjiao">
	<span class="fl-left"><label class="block"></label></span>
	<span class="fl-left"><label class="block"></label></span>
	<span class="fl-left"><label class="block"></label></span>
	<span class="fl-left"><label class="block"></label></span>
</div>

<!-- 底部菜单-弹出 -->
<div class="hidden foot">
	<ul class="hidden center posifi">
		<li class="fl-left hidden"><a href="#" class="block ft_16">艺术仓库</a></li>
		<li class="fl-left hidden"><a href="#" class="block ft_16">艺术圈</a></li>
		<li class="fl-left hidden"><a href="#" class="block ft_16">艺术家</a></li>
		<li class="fl-left hidden"><a href="#" class="block ft_16">艺术情报</a></li>
	</ul>
</div>

<!-- 底部菜单 -->
<footer class="center foot posifi footbg">
	<a href="#" class="fl-left">
		<label class="line"></label>
		<img src="assets/images/foot1.png" align="top">
	</a>
	<a href="javascript:;" class="fl-left">
		<label class="line"></label>
		<img src="assets/images/foot2.png" align="top">
	</a>
	<a href="#" class="fl-left">
		<label class="line"></label>
		<img src="assets/images/foot3.png" align="top">
	</a>
	<a href="#" class="fl-left">
		<label class="line"></label>
		<img src="assets/images/foot4.png" align="top">
	</a>
</footer>

<script type="text/javascript">
	var dq=0
</script>
<script type="text/javascript" src="assets/js/scripts.js"></script>