<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="twcClient" content="false" id="twcClient" />
<title>商品列表</title>
<link rel="stylesheet" href="assets/css/css.css?i=12" />
<link rel="stylesheet" href="assets/css/comment.css" />
<script src="assets/js/jquery-1.8.3.min.js"></script>
</head>
<body>

<!-- 公共头部 -->
{include file="includes/header.html"}

<ul class="listdiv clearfix">
{foreach from=$comment_data item=comment}
	<li>
		<div class="commentdiv">
			<h4>{$comment.username}</h4>
			<p>
				{$comment.content}<br />
				<span class="addtime">{$comment.add_time}</span>
			</p>
		</div>
		{if $comment.re_username}
		<div class="replydiv">
			<h4>{$comment.re_username}</h4>
			<p>
				{$comment.re_content}<br />
				<span class="addtime">{$comment.re_add_time}</span>
			</p>
		</div>
		{/if}
	</li>
{foreachelse}
 	<li>暂无此商品评论</li>
{/foreach}
</ul>

{if $pagebar}
<div class="listpagebar">
{$pagebar}
</div>
{/if}

<!-- 公共底部 -->
{include file="includes/footer.html"}

</body>
</html>