{include file="includes/head.html"}
<body>
<!--头部-->
<header>
	<label class="line"></label><img src="assets/images/logo.png" align="top">
	<div class="fl-right hidden">
		<label class="line"></label>
		{include file="includes/user.html"}
	</div>
</header>
<!--焦点图-->
<section class="banner">
	<div class="slider autoplay center">
		<div><a href="#" class="ft_20"><img src="assets/images/pro1.jpg"></a></div>
		<div><a href="#" class="ft_20"><img src="assets/images/pro1.jpg"></a></div>
		<div><a href="#" class="ft_20"><img src="assets/images/pro1.jpg"></a></div>
	</div>
</section>
<!--分类导航栏-->
<section class="hidden indexclass">
	<a href="#" title="木元" class="fl-left ft_24 ft_mi">|</a>
	<a href="#" title="陶元" class="fl-left ft_24 ft_mi">|</a>
	<a href="#" title="漆元" class="fl-left ft_24 ft_mi">|</a>
	<a href="#" title="石元" class="fl-left ft_24 ft_mi">|</a>
	<a href="#" title="艺元" class="fl-left ft_24 ft_mi">|</a>
	<a href="#" title="银元" class="fl-left ft_24 ft_mi"></a>
</section>
<!--搜索栏-->
<section class="hidden indexselect">
	<div class="fl-right"><button type="submit"></button></div>
	<fieldset class="fl-left hidden">
		<select name="day" id="day" class="ft_14">
		<option value="mon">艺术仓库</option>
		<option value="tue">艺术仓库</option>
		</select>
		<span class="fl-right hidden"><label class="block"></label></span>
	</fieldset>
</section>
<!--拍卖专区、热卖宝贝、新品上架、名家名言-->
<section classs="hidden">
	<ul class="hidden hotlist center">
		<li class="fl-left hidden">
			<a href="#"><img src="assets/images/b1.jpg" width="100%"></a>
		</li>
		<li class="fl-left hidden">
			<a href="#"><img src="assets/images/b2.jpg" width="100%"></a>
		</li>
		<li class="fl-left hidden">
			<a href="#"><img src="assets/images/b3.jpg" width="100%"></a>
		</li>
		<li class="fl-left hidden">
			<a href="#"><img src="assets/images/b4.jpg" width="100%"></a>
		</li>
	</ul>
</section>

<!--艺术情报-->
<section class="hidden qing">
	<figcaption class="center"><a href="#"><img src="assets/images/yishu.jpg" alt="">/查看更多</a></figcaption>
	<div class="slider qingauto">
		{foreach from=$article_array item=article}
		<div>
			<a href="article_list.php?" class="block">
				<figure class="block ft_14 center hidden"><label class="line"></label><img src="assets/images/pro2.jpg" /></figure>
				<span class="color2">{$article.time}</span>
				<p>{$article.title}</p>
			</a>		
		</div>
		{/foreach}
	</div>
</section>

<!--木元-->
<section class="hidden">
	<div class="hidden">
		<span class="block yuantitle ico_tit1"></span>
	</div>
	<ul class="hidden indexlist center">
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
	</ul>
</section>
<!--陶元-->
<section class="hidden">
	<div class="hidden">
		<span class="block yuantitle ico_tit2"></span>
	</div>
	<ul class="hidden indexlist center">
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
	</ul>
</section>
<!--漆元-->
<section class="hidden">
	<div class="hidden">
		<span class="block yuantitle ico_tit3"></span>
	</div>
	<ul class="hidden indexlist center">
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
	</ul>
</section>
<!--石元-->
<section class="hidden">
	<div class="hidden">
		<span class="block yuantitle ico_tit4"></span>
	</div>
	<ul class="hidden indexlist center">
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
	</ul>
</section>
<!--银元-->
<section class="hidden">
	<div class="hidden">
		<span class="block yuantitle ico_tit5"></span>
	</div>
	<ul class="hidden indexlist center">
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
		<li class="fl-left hidden">
			<a href="#" class="block">
				<div class="hidden img"><label class="line"></label><img src="assets/images/pro2.jpg" align="top"></div>
				<p class="hidden ft_15">现代大师红木家具</p>
			</a>		</li>
	</ul>
</section>
{include file="includes/footer.html"}
<script type="text/javascript">
$(function(){
	$('.autoplay').each(function(){
		$(this).slick({
			dots: true,
			infinite: true,
			speed: 500,
			slidesToShow:1,
			slidesToScroll:1,
			autoplay: true,
			arrows:false
		});
	})
	if($(window).width()<360){
		num=2
	}else{
		num=3
	}
	$('.qingauto').slick({
		dots: false,
		infinite: false,
		speed: 500,
		slidesToShow: num,
		slidesToScroll:1,
		autoplay: true,
		arrows:false
	});
	var wid=$('.hotlist li').width();
	$('.hotlist li').height(Math.ceil(wid*175/344));
});
</script>
</body>
</html>