<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="twcClient" content="false" id="twcClient" />
<title>搜索</title>
<link rel="stylesheet" href="assets/css/css.css" />
<link rel="stylesheet" href="assets/css/search.css" />
<script src="assets/js/jquery-1.8.3.min.js"></script>
</head>
<body>

<!-- 公共头部 -->
{include file="includes/header.html"}

<!-- 搜索选项卡 -->
<!-- <div class="seartab hidden center clearfix">
	<span class="fl-left on"><a href="search.php" class="block ft_16">所有</a></span>
	<span class="fl-left"><a href="category.php?id=6" class="block ft_16">艺术仓库</a></span>
	<span class="fl-left"><a href="artcircle.html" class="block ft_16">艺术圈</a></span>
	<span class="fl-left"><a href="artinfo.html" class="block ft_16">艺术情报</a></span>
</div> -->

<!-- 搜索表单 -->
<div class="searchdiv hidden">
	<form name="searchForm" method="get" action="search.php">
		<div class="input-wrap">
			<button type="submit">
				<img src="assets/images/search.png">
			</button>
			<input name="keywords" type="text" value="{$keywords}">
		</div>
	</form>
</div>

<!-- 热门搜索 --->
{if $searchkeywords}
<section class="hotdiv hidden">
	<div class="hottitle hidden">
		热门搜索
	</div>
	<ul class="hotlist clearfix">
		{foreach from=$searchkeywords item=val}
		<li>
			<a href="search.php?keywords={$val|escape:url}">{$val}</a>
		</li>
		{/foreach}
	</ul>
</section>
{/if}

<!-- 搜索结果-工具栏 --->
{if $goods_data}
<div class="result-toolbar">
	<form action="search.php" method="post" name="listform">
		<div class="clearfix">
		    <select name="sort">
		    {html_options options=$lang.sort selected=$pager.search.sort}
		    </select>
		    <select name="order">
		    {html_options options=$lang.order selected=$pager.search.order}
		    </select>
		    <input type="submit" value="进行排序" />
		    <input type="hidden" name="page" value="{$pager.page}" />
		    {foreach from=$pager.search key=key item=item}
		    {if $key neq "sort" and $key neq "order"}
		    	{if $key eq 'keywords'}
		        <input type="hidden" name="{$key}" value="{$item|escape:decode_url}" />
		      	{else}
		        <input type="hidden" name="{$key}" value="{$item}" />
		      	{/if}
		    {/if}
		    {/foreach}
	    </div>
	</form>
</div>
{/if}

<!-- 搜索结果-数据列表 --->
<ul class="result-datalist">
{foreach from=$goods_data item=goods name=goods_list}
	<li>
		<a href='goods.php?id={$goods.goods_id}'>
			<img src="{$goods.goods_img}" alt="{$goods.goods_name}" />
			<h4>商品名称：{$goods.goods_name}</h4>
		</a>
	</li>
{foreachelse}
	<li>没有找到任何结果！</li>
{/foreach}
</ul>

<!-- 搜索结果-分页栏 --->
{if $pagebar}
<div class="result-pagebar">
	{$pagebar}
</div>
{/if}

<!-- 公共底部 -->
{include file="includes/footer.html"}

</body>
</html>
