<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="twcClient" content="false" id="twcClient" />
<title>搜索</title>
<link rel="stylesheet" href="assets/css/css.css" />
<link rel="stylesheet" href="assets/css/search.css" />
<script src="assets/js/jquery-1.8.3.min.js"></script>
</head>
<body>

<!-- 头部 -->
<header class="center">
	<span class="fl-left back">
		<img src="assets/images/back.png" alt="" align="top">
	</span>
	<span class="ft_20">搜 索</span>
</header>

<!-- 搜索 -->
<section class="hidden">
	<div class="seartab center">
		<span class="fl-left on"><a href="#" class="block ft_16">所有</a></span>
		<span class="fl-left"><a href="#" class="block ft_16">艺术仓库</a></span>
		<span class="fl-left"><a href="#" class="block ft_16">艺术圈</a></span>
		<span class="fl-left"><a href="#" class="block ft_16">艺术情报</a></span>
	</div>
</section>

<form name="searchForm" method="get" action="search.php">
	<section class="searchdiv hidden">
		<span class="fl-left">
			<button type="submit" class="ft_16 color3">
				<img src="assets/images/search.png">搜索
			</button>
		</span>
		<div class="hidden">
			<input name="keywords" type="text" value="{$keywords}">
		</div>
	</section>
</form>

<!-- 热门搜索 --->
{if $searchkeywords}
<section class="hidden">
	<div class="hottitle ft_16 hidden">
		热门搜索
	</div>
	<ul class="hidden hotlist">
		{foreach from=$searchkeywords item=val}
		<li class="fl-left hidden">
			<a href="search.php?keywords={$val|escape:url}">{$val}</a>
		</li>
		{/foreach}
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">玉镯</a>
		</li>
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">红木家具</a>
		</li>
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">古代银器</a>
		</li>
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">工艺美术师</a>
		</li>
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">玉镯</a>
		</li>
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">红木家具</a>
		</li>
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">古代银器</a>
		</li>
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">工艺美术师</a>
		</li>
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">玉镯</a>
		</li>
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">红木家具</a>
		</li>
		<li class="fl-left hidden">
			<a href="#" class="block ft_16">古代银器</a>
		</li>
	</ul>
</section>
{/if}

<!-- 搜索结果-排序 --->
{if $goods_data}
<form action="search.php" method="post" name="listform">
    <select name="sort">
    {html_options options=$lang.sort selected=$pager.search.sort}
    </select>
    <select name="order">
    {html_options options=$lang.order selected=$pager.search.order}
    </select>
    <input type="submit" value="进行排序" />
    <input type="hidden" name="page" value="{$pager.page}" />
    {foreach from=$pager.search key=key item=item}
    {if $key neq "sort" and $key neq "order"}
    	{if $key eq 'keywords'}
        <input type="hidden" name="{$key}" value="{$item|escape:decode_url}" />
      	{else}
        <input type="hidden" name="{$key}" value="{$item}" />
      	{/if}
    {/if}
    {/foreach}
  </form>
{/if}

<!-- 搜索结果-数据列表 --->
{foreach from=$goods_data item=goods name=goods_list}
{$smarty.foreach.goods_list.iteration}.<a href='goods.php?id={$goods.goods_id}'>{$goods.goods_name}</a>[{$goods.shop_price}]<br/>
{foreachelse}
	 暂无此类商品<br/>
{/foreach}<br/><br/>

<!-- 搜索结果-数据分页 --->
{if $pagebar}
	{$pagebar}<br/>
{/if}

<!-- 公共底部 -->
{include file="comm_footer.html"}

</body>
</html>
