/* 搜索选项卡 */
.seartab{ margin: 20px 0;}
.seartab span.fl-left{ width: 25%; line-height: 50px;}
.seartab span a.block{border:1px solid #e0e0e0;border-left:1px solid #fff;background-color:#f9f9f9;}
.seartab span.on a{background-color:#ffffff;border-bottom:0px;}

/* 搜索表单 */
.searchdiv{ margin: 20px;}
.searchdiv .input-wrap{ position: relative;}
.searchdiv button{ position: absolute; left: 10px; top: 6px; background: none;}
.searchdiv button img{ display: block;}
.searchdiv input{ border: 1px solid #ddd; box-sizing: border-box; width: 100%; height: 40px; padding-left: 44px;}

/* 热词列表 */
.hottitle{padding:0 1em;line-height:2.4em;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.hotlist{margin:0 1em;}
.hotlist li.fl-left{width:33%;border-bottom:1px solid #e0e0e0;border-right:1px solid #e0e0e0;margin-right:-1px;line-height:2.4em;}
.hotlist li:nth-child(3n){border-right:0px;width:34%;}
.hotlist li a.block{height:2.4em;padding:0 0.5em;}

/* 搜索结果-工具栏 */
.result-toolbar {
	margin: 20px;
}
.result-toolbar select, input {
	height: 30px;
	margin-right: 10px;
	padding: 6px;
	border: 1px solid #ddd;
	background: none;
	vertical-align: middle;
	font-size: 12px;
}

/* 搜索结果-数据列表 */
.result-datalist {
	margin: 0 20px;
}
.result-datalist li,
.result-datalist li a{
	display: block;
}
.result-datalist li img {
	max-width: 100%;
}

/* 搜索结果-分页栏 */
.result-pagebar {
	margin: 20px;
}
.result-pagebar a {
	display: inline-block;
	margin: 0 10px;
}