/* logo_custom bg start */

#logo_custom.logo_artists {
	width: 52px;
	background: url("img/logo_artcircle_artists.jpg") no-repeat left bottom;
}
#logo_custom.logo_artorgs {
	width: 69px;
	background: url("img/logo_artcircle_artorgs.jpg") no-repeat left bottom;
}
#logo_custom.logo_artcollectors {
	width: 85px;
	background: url("img/logo_artcircle_artcollectors.jpg") no-repeat left bottom;
}
/* logo_custom bg end */
/* banner begin */

#banner {
	height: 297px;
	background: #fff;
}
.slidebox {
	overflow: hidden;
	position: relative;
}
#banner .slidepic {
	position: absolute;
	width: 9999em;
}
#banner .slidepic li,
#banner .slidepic img {
	display: block;
	width: 1000px;
	height: 297px;
	overflow: hidden;
	float: left;
}
#banner .slidebtn {
	position: absolute;
	bottom: 18px;
	right: 24px;
}
#banner .slidebtn li {
	cursor: pointer;
	float: left;
	height: 16px;
	width: 16px;
	line-height: 16px;
	padding-left: 3px;
	text-align: center;
	color: #5b5b5b;
	margin-left: 7px;
	font-size: 12px;
	background: url(img/lv3_artcircle_artartists_banner_btn_null.png) no-repeat center;
}
#banner .slidebtn li.current {
	color: #434343;
	background: url(img/lv3_artcircle_artartists_banner_btn_dotted.png) no-repeat center;
}
/* banner end */
/* artists classify start */

#artcircle_elem_classify > ul {
	border-top: 1px solid #e9e9e9;
}
#artcircle_elem_classify > ul > li ul li {
	float: left;
	color: #666666;
}
#artcircle_elem_classify > ul > li ul a li:hover {
	color: #DC5154;
}
#artcircle_elem_classify > ul > li {
	clear: both;
	border-bottom: 1px solid #e9e9e9;
	height: 60px;
	line-height: 60px;
}
#artcircle_elem_classify .classify_title {
	width: 70px;
	text-align: center;
	text-align: justify;
	margin-right: 0;
	color: #a0a0a0;
	letter-spacing: 2px;
}
#artcircle_elem_classify span.nbsp_font {
	font-family: 'Times New Roman';
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	#artcircle_elem_classify span.nbsp_font {
		letter-spacing: 1px;
	}
}
#artcircle_elem_classify > ul > li > ul > li {
	margin: 0 12px;
}
#artcircle_elem_classify .letter_classify a li {
	margin: 0 7px;
}
/* artists classify end */
/* artists sort start */

#artcircle_elem_wrap {
	margin-top: 65px;
}
#artcircle_elem_sort {
	margin-top: 20px;
}
#artcircle_elem_sort a {
	border: 1px solid #e9e9e9;
	padding: 0 5px;
	height: 24px;
	line-height: 24px;
	display: block;
	float: left;
}
#artcircle_elem_sort a:hover {
	color: #DC5154;
}
#sort_left {
	float: left;
}
#sort_left .new_sort {
	margin-left: 10px;
	text-align: center;
}
#sort_left .new_sort_down {
	margin-left: 10px;
	width: 9px;
	padding: 0;
	border: none;
	background: url(img/lv3_artcircle_artartists_ptdown.png) no-repeat center;
}
#sort_left .new_sort_up {
	margin-left: 10px;
	width: 9px;
	padding: 0;
	border: none;
	background: url(img/lv3_artcircle_artartists_ptup.png) no-repeat center;
}
/* artists sort end */
/* artists list start */

#artcircle_elem_list {
	margin-top: 40px;
}
#artcircle_elem_list table {
	border-collapse: separate;
	border-spacing: 16px;
	margin-left: -16px;
}
#artcircle_elem_list table td {
	width: 220px;
	height: 278px;
	padding: 8px;
	border: 1px solid #e9e9e9;
	cursor: pointer;
}
#artcircle_elem_list table td:hover {
	background: #e9e9e9;
}
#artcircle_elem_list table td img {
	width: 220px;
	height: 220px;
}
#artcircle_elem_list table td h4 {
	text-align: center;
	line-height: 54px;
	font-weight: 500;
}
/* artists list end */
/* page control start */

#page_ctl {
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 60px;
}
#page_ctl ul {
	margin: 0 auto;
	overflow: hidden;
	width: 340px;
}
#page_ctl ul li {
	float: left;
	border: 1px solid #e9e9e9;
	margin: 0 5px;
	padding: 0 5px;
	line-height: 20px;
	text-align: center;
}
#page_ctl ul li.current {
	background: #e9e9e9;
}
#page_ctl ul li.ellipsis {
	border: none;
	line-height: 15px;
}
#page_ctl ul li.ellipsis:hover {
	background: #fff;
}
/* page control end */