/* logo_custom bg start */

#logo_custom {
	width: 69px;
	background: url("img/logo_artinfo.jpg") no-repeat left bottom;
}
/* logo_custom bg end */
/* super info start*/

#super_info {
	float: left;
	width: 658px;
	padding-top: 45px;
}
#super_info_title {
	height: 30px;
	width: 658px;
	position: relative;
	margin-bottom: 30px;
	background: url("img/lv2_artinfo_superinfo_title.png") no-repeat left bottom;
}
#super_info_title a {
	position: absolute;
	bottom: 0;
	right: 0;
}
#super_info_list li {
	position: relative;
}
#super_info_list li img {
	width: 230px;
	height: 140px;
}
#super_info_list li > div {
	position: absolute;
	left: 230px;
	top: 0;
	height: 118px;
	padding: 15px;
}
#super_info_list li div h3 {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #000;
}
#super_info_list li div.text_overflow_ddd {
	overflow: hidden;
	height: 80px;
	margin-bottom: 10px;
}
#super_info_list li div p {
	line-height: 20px;
	text-align: justify;
	text-justify: inter-ideograph;
}
#super_info_list div.dotted_line {
	margin: 24px auto;
}
/* super info end*/
/* click sort start*/

#click_sort {
	float: right;
	width: 288px;
	height: 587px;
	padding-top: 45px;
	padding-left: 20px;
	padding-right: 10px;
}
#click_sort_title {
	height: 30px;
	margin-bottom: 25px;
	position: relative;
	background: url("img/lv2_artinfo_clicksort_title.png") no-repeat left bottom;
}
#click_sort_title a {
	display: block;
	width: 91px;
	height: 24px;
}
#click_sort_title span {
	position: absolute;
	bottom: 0;
	left: 95px;
}
#click_sort_list {
	width: 260px;
}
#click_sort_list li {
	list-style-type: none;
	list-style-position: inside;
	list-style-image: url(img/lv2_artinfo_clicksort_dot.png);
}
#click_sort_list li.current > a {
	font-weight: 600;
}
#click_sort_list li a {
	color: #000;
	font-weight: 500;
	font-size: 14px;
	overflow: hidden;
}
#click_sort_list li a:hover {
	color: #DC5154;
}
#click_sort_list div.dotted_line {
	margin: 16px auto;
}
@-moz-document url-prefix() {
	#click_sort_list div.dotted_line {
		margin: 15px auto;
	}
}
#click_sort_list .click_sort_float {
	height: 170px;
	overflow: hidden;
	display: none;
}
#click_sort_list .click_sort_float img {
	height: 90px;
	width: 260px;
}
#click_sort_list .click_sort_float div.text_overflow_ddd {
	padding-left: 25px;
	margin-top: 5px;
	overflow: hidden;
	height: 60px;
	margin-bottom: 15px;
}
#click_sort_list .click_sort_float p {
	line-height: 20px;
	color: #8d8d8d;
}
#click_sort_list .click_sort_show {
	display: block;
}
/* click sort end*/
/* art eye start*/

#art_eye {
	float: left;
	width: 658px;
	padding-top: 45px;
}
#art_eye_title {
	height: 30px;
	width: 658px;
	position: relative;
	margin-bottom: 12px;
	background: url("img/lv2_artinfo_arteye_title.png") no-repeat left bottom;
}
#art_eye_title a {
	position: absolute;
	bottom: 0;
	right: 0;
}
#art_eye_list ul li {
	width: 302px;
	height: 128px;
	padding: 10px;
	position: relative;
	margin-top: 14px;
	cursor: pointer;
}
#art_eye_list ul li img {
	width: 128px;
	height: 128px;
}
#art_eye_list ul li > div {
	position: absolute;
	left: 150px;
	top: 20px;
}
#art_eye_list ul li h4 {
	margin-bottom: 10px;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
	height: 16px;
	line-height: 16px;
}
#art_eye_list ul li div.text_overflow_ddd {
	padding-right: 10px;
	overflow: hidden;
	height: 80px;
}
#art_eye_list ul li p {
	line-height: 20px;
	text-align: justify;
	text-justify: inter-ideograph;
}
#art_eye_list_left {
	float: left;
}
#art_eye_list_right {
	float: right;
}
/* art eye end*/
/* opus show start*/

#opus_show {
	float: right;
	width: 310px;
	height: 415px;
	background: green;
	position: relative;
}
#opus_show img {
	width: 310px;
	height: 415px;
}
#opus_show_info,
#opus_show_info_bg {
	width: 290px;
	height: 80px;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	text-align: center;
	overflow: hidden;
	padding: 10px;
}
#opus_show_info div.text_overflow_ddd {
	height: 40px;
	overflow: hidden;
	margin-top: 15px;
}
#opus_show_info p {
	line-height: 20px;
}
#opus_show_info_bg {
	background: #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
/* opus show end*/
/* art decode start*/

#art_decode {
	padding-top: 45px;
}
#art_decode_title {
	height: 30px;
	margin-bottom: 25px;
	position: relative;
	background: url("img/lv2_artinfo_artdecode_title.png") no-repeat left bottom;
}
#art_decode_title a {
	position: absolute;
	bottom: 0;
	right: 0;
}
#art_decode_list {
	margin-left: -20px;
}
#art_decode_list li {
	float: left;
	margin-left: 20px;
}
#art_decode_list li img {
	width: 235px;
	height: 185px;
}
#art_decode_list li > div {
	width: 215px;
	padding: 10px;
}
#art_decode_list li div h4 {
	margin: 10px auto;
	color: #000;
	font-weight: 900;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#art_decode_list li div.text_overflow_ddd {
	height: 80px;
	overflow: hidden;
	margin-bottom: 10px;
}
#art_decode_list li div p {
	line-height: 20px;
	text-align: justify;
	text-justify: inter-ideograph;
}
/* art decode end*/