/* logo_custom bg start */

#logo_custom.logo_muyuan {
	width: 37px;
	background: url("img/logo_artrepos_muyuan.jpg") no-repeat left bottom;
}
#logo_custom.logo_taoyuan {
	width: 37px;
	background: url("img/logo_artrepos_taoyuan.jpg") no-repeat left bottom;
}
#logo_custom.logo_qiyuan {
	width: 37px;
	background: url("img/logo_artrepos_qiyuan.jpg") no-repeat left bottom;
}
#logo_custom.logo_shiyuan {
	width: 37px;
	background: url("img/logo_artrepos_shiyuan.jpg") no-repeat left bottom;
}
#logo_custom.logo_yiyuan {
	width: 37px;
	background: url("img/logo_artrepos_yiyuan.jpg") no-repeat left bottom;
}
#logo_custom.logo_yinyuan {
	width: 37px;
	background: url("img/logo_artrepos_yinyuan.jpg") no-repeat left bottom;
}
#logo_custom.logo_duoyuan {
	width: 37px;
	background: url("img/logo_artrepos_duoyuan.jpg") no-repeat left bottom;
}
/* logo_custom bg end */
/* repos classify start */

#repos_classify > ul {
	border-top: 1px solid #e9e9e9;
}
#repos_classify > ul > li ul li {
	float: left;
	color: #666666;
}
#repos_classify > ul > li ul a li:hover {
	color: #DC5154;
}
#repos_classify > ul > li {
	clear: both;
	border-bottom: 1px solid #e9e9e9;
	height: 60px;
	line-height: 60px;
	letter-spacing: 1px;
}
#repos_classify .classify_title {
	width: 70px;
	text-align: center;
	text-align: justify;
	margin-right: 0;
	color: #a0a0a0;
	letter-spacing: 2px;
}
#repos_classify span.nbsp_font {
	font-family: 'Times New Roman';
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	#repos_classify span.nbsp_font {
		letter-spacing: 1px;
	}
}
#repos_classify > ul > li > ul > li {
	margin: 0 12px;
}
/* repos classify end */
/* repos sort start */

#repos_sort {
	margin-top: 20px;
}
#repos_sort a {
	border: 1px solid #e9e9e9;
	padding: 0 5px;
	height: 24px;
	line-height: 24px;
	display: block;
	float: left;
}
#repos_sort a:hover {
	color: #DC5154;
}
#sort_left {
	float: left;
}
#sort_left .price_sort {
	padding-right: 15px;
	margin-left: 10px;
	background: url("img/lv2_artrepos_pricesort_bg.png") no-repeat 90% center;
}
#sort_left .price_sort_drt {
	background: #e9e9e9;
	margin-right: 2px;
}
#sell_right {
	float: right;
}
#sell_right a {
	margin-left: 10px;
}
/* repos sort end */
/* repos list start */

#repos_list {
	margin-top: 40px;
}
#repos_list table {
	border-collapse: separate;
	border-spacing: 13px;
	margin-left: -13px;
}
#repos_list table td {
	width: 224px;
	height: 278px;
	padding: 7px;
	border: 1px solid #e9e9e9;
	cursor: pointer;
}
#repos_list table td:hover {
	background: #e9e9e9;
}
#repos_list table td img {
	width: 224px;
	height: 224px;
}
#repos_list table td h4 {
	text-align: center;
	line-height: 54px;
	font-weight: 500;
}
/* repos list end */
/* page control start */

#page_ctl {
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 60px;
}
#page_ctl ul {
	margin: 0 auto;
	overflow: hidden;
	width: 340px;
}
#page_ctl ul li {
	float: left;
	border: 1px solid #e9e9e9;
	margin: 0 5px;
	padding: 0 5px;
	line-height: 20px;
	text-align: center;
}
#page_ctl ul li.current {
	background: #e9e9e9;
}
#page_ctl ul li.ellipsis {
	border: none;
	line-height: 15px;
}
#page_ctl ul li.ellipsis:hover {
	background: #fff;
}
/* page control end */
/* lv3 banner begin */

#lv3_banner {
	height: 297px;
	overflow: hidden;
	margin-bottom: 65px;
}
/* lv3 banner end */