/* logo_custom bg start */

#logo_custom {
	width: 98px;
	background: url("img/lv2_artrepos_logo.jpg") no-repeat left bottom;
}
/* logo_custom bg end */
/* product show start */

#product_show {
	overflow: hidden;
}
/* product imgs start */

#product_imgs {
	height: 443px;
	width: 352px;
	float: left;
}
#product_img_big {
	width: 350px;
	height: 350px;
	border: 1px solid #e0e0e0;
	background: #f7f7f7;
}
#product_img_big img {
	width: 350px;
	height: 350px;
}
#product_img_lit ul {
	margin-top: 6px;
}
#product_img_lit ul li {
	float: left;
	width: 80px;
	height: 80px;
	border: 2px solid #e0e0e0;
	background: #f7f7f7;
	margin-right: 5px;
	cursor: pointer;
}
#product_img_lit ul li.current {
	border: 2px solid #dd5451;
}
#product_img_lit ul li.last_one {
	margin-right: 0;
	margin-left： 6px;
}
#product_img_lit ul li img {
	width: 80px;
	height: 80px;
	float: left;
}
/* product imgs end */
/* product info start */

#product_info {
	height: 441px;
	width: 438px;
	float: left;
	margin-left: 22px;
}
#product_title {
	overflow: hidden;
	margin-top: 55px;
	padding: 0 10px;
}
#product_title h2 {
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#product_title div.text_overflow_ddd {
	margin-top: 10px;
	overflow: hidden;
	height: 40px;
}
#product_title p {
	line-height: 20px;
	font-size: 12px;
	text-align: justify;
	text-justify: inter-ideograph;
}
#product_price {
	margin-top: 15px;
	font-size: 16px;
	padding: 10px 10px;
	border-top: 1px dotted #e0e0e0;
	border-bottom: 1px dotted #e0e0e0;
}
#product_price p {
	letter-spacing: 5px;
	line-height: 28px;
}
#product_price span {
	margin-left: 15px;
	letter-spacing: 3px;
}
#product_price span.sale_price {
	font-size: 22px;
	font-weight: 900;
	color: #dd5451;
}
#product_price span.cost_price {
	text-decoration: line-through
}
#product_classify {
	overflow: hidden;
	padding: 14px 10px;
	border-bottom: 1px dotted #e0e0e0;
}
#product_classify > span {
	float: left;
	letter-spacing: 5px;
}
#product_classify ul {
	float: left;
	margin-left: 10px;
}
#product_classify ul li {
	float: left;
	width: 53px;
	height: 53px;
	border: 2px solid #e0e0e0;
	background: #f7f7f7;
	margin-left: 8px;
	cursor: pointer;
}
#product_classify ul li.current {
	border: 2px solid #dd5451;
}
#product_classify ul li:hover {
	border: 2px solid #dd5451;
}
#product_classify ul li img {
	width: 53px;
	height: 53px;
}
#product_misc {
	margin-top: 10px;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	position: relative;
	overflow: hidden;
	color: #6f6f6f;
}
#product_misc .product_num {
	position: absolute;
	left: 10px;
	bottom: 0;
}
#product_misc .product_type {
	position: absolute;
	left: 240px;
	bottom: 0;
}
#product_button {
	margin-top: 30px;
	padding-left: 10px;
}
#product_button div {
	float: left;
}
#product_button #buynow_btn {
	width: 105px;
	height: 35px;
	border: none;
	background: #dd5451;
	color: #fff;
	cursor: pointer;
}
#product_button #addcart_btn {
	width: 103px;
	height: 33px;
	border: 1px solid #e0e0e0;
	background: #fff;
	margin-left: 12px;
	cursor: pointer;
}
#product_button ul {
	float: right;
	margin: 5px;
}
#product_button ul li {
	float: left;
	width: 28px;
	height: 24px;
	background: red;
	margin-left: 10px;
}
#product_button ul li.share_sina {
	background: url("img/productdetail_productshow_share_sina.jpg") no-repeat center;
}
#product_button ul li.share_qq {
	background: url("img/productdetail_productshow_share_qq.jpg") no-repeat center;
}
#product_button ul li.share_zone {
	background: url("img/productdetail_productshow_share_zone.jpg") no-repeat center;
}
#product_button ul li.share_dou {
	background: url("img/productdetail_productshow_share_dou.jpg") no-repeat center;
}
/* product info end */
/* product code start */

#product_code {
	height: 441px;
	border: 1px solid #e0e0e0;
	width: 165px;
	float: right;
	position: relative;
	background: url("img/productdetail_productshow_code_title.jpg") no-repeat center 250px;
}
#product_code img {
	position: absolute;
	width: 110px;
	height: 110px;
	top: 124px;
	left: 28px;
}
/* product code end */
/* product show end */
/* owner artist start */

#owner_artist {
	margin-top: 60px;
	overflow: hidden;
}
#owner_artist .lookmore {
	position: relative;
	height: 31px;
}
#owner_artist .lookmore a {
	position: absolute;
	right: 0;
	top: 0;
	height: 30px;
	line-height: 30px;
	border: 1px solid #e0e0e0;
	border-top: none;
	background: #f7f7f7;
	padding: 0 10px;
}
#owner_artist .artist_img {
	float: left;
	margin-left: 25px;
}
#owner_artist .artist_img,
#owner_artist .artist_img img {
	width: 267px;
	height: 182px;
}
#owner_artist .artist_info {
	float: left;
	width: 660px;
	padding-left: 30px;
	padding-top: 30px;
}
#owner_artist .artist_info h2 {
	font-size: 15px;
}
#owner_artist .artist_info h2 span {
	font-weight: 500;
}
#owner_artist .artist_info > div.text_overflow_ddd {
	padding-bottom: 10px;
	padding-top: 5px;
	border-bottom: 1px dotted #e0e0e0;
	height: 20px;
	overflow: hidden;
}
#owner_artist .artist_info p.artist_iden {
	line-height: 20px;
}
#owner_artist .artist_info .artist_deed {
	margin-top: 10px;
}
#owner_artist .artist_info .artist_deed span {
	float: left;
	display: block;
	line-height: 25px;
	font-size: 15px;
	font-weight: 700;
	margin-left: -8px;
}
#owner_artist .artist_info .artist_deed div.text_overflow_ddd {
	height: 75px;
	width: 550px;
	overflow: hidden;
	float: left;
}
#owner_artist .artist_info .artist_deed p {
	line-height: 25px;
}
/* owner artist end */

#content_wrap {
	margin-top: 50px;
	margin-bottom: 80px;
	overflow: hidden;
}
#content_left {
	float: left;
	width: 268px;
	overflow: hidden;
}
#content_right {
	width: 700px;
	float: right;
	height: 1000px;
}
/* hot products start */

#hot_products {
	width: 268px;
	padding-top: 40px;
	margin-top: 35px;
	overflow: hidden;
}
#hot_products_title {
	height: 35px;
}
#hot_products_title a {
	display: block;
	width: 129px;
	height: 35px;
	margin: 0 auto;
	background: url("img/productdetail_productshow_hotproduct_title.jpg") no-repeat bottom center;
}
#hot_products_list li {
	width: 268px;
	position: relative;
	margin-top: 30px;
}
#hot_products_list li img {
	width: 268px;
	height: 240px;
}
#hot_products_list li p {
	height: 34px;
	width: 266px;
	line-height: 34px;
	text-align: center;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	border-top: none;
}
/* hot products end */
/* product nav start */

#product_nav {
	height: 36px;
	overflow: hidden;
}
#product_nav ul {
	padding-left: 100px;
	width: 700px;
	border-bottom: 1px solid #e0e0e0;
	height: 35px;
}
#product_nav ul li {
	float: left;
	line-height: 34px;
	height: 34px;
	padding: 0 20px;
	border: 1px solid #e0e0e0;
	margin-left: 10px;
	background: #f7f7f7;
	margin-bottom: -1px;
}
#product_nav ul a {
	color: #666666;
}
#product_nav ul a:hover {
	color: #DC5154;
}
#product_nav ul li.current {
	background: #fff;
	border-bottom: 1px solid #fff;
}
#product_nav #comment_cnt {
	letter-spacing: 0;
}
/* product nav end */
/* product plate start */

#product_plate {
	position: relative;
}
#product_plate > div {
	display: none;
	width: 700px;
	position: absolute;
	top: 40px;
	left: 0;
}
#product_plate > div.current {
	display: block;
}
/* product plate end */
/* product introduce start */

#product_introduce {
	padding-bottom: 50px;
	border-bottom: 1px solid #e0e0e0;
	text-align: center
}
/* product introduce end */
/* product comment start */

#comment_wrap {
	width: 638px;
	overflow: hidden;
	padding: 0 30px;
	border: 1px solid #e0e0e0;
}
#comment_area_list {
	padding-top: 10px;
}
#comment_area_list li {
	padding-bottom: 20px;
	margin-top: 25px;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}
#comment_area_list .cmt_text {
	float: left;
	width: 480px;
	overflow: hidden;
}
#comment_area_list p.cmt_content {
	text-align: justify;
	text-justify: inter-ideograph;
	overflow: hidden;
	color: #666666;
	line-height: 20px;
}
#comment_area_list p.short_info {
	color: #c0c0c0;
	line-height: 20px;
}
#comment_area_list .cmt_user {
	float: left;
	height: 40px;
}
#comment_area_list .cmt_username {
	float: left;
}
#comment_area_list .cmt_username a {
	display: block;
	color: #666666;
	overflow: hidden;
	letter-spacing: 0;
	width: 100px;
	padding-right: 5px;
	text-align: right;
	line-height: 20px;
	height: 20px;
}
#comment_area_list .cmt_username a:hover {
	color: #DC5154;
}
#comment_area_list .cmt_username span {
	display: block;
	color: #c0c0c0;
	overflow: hidden;
	letter-spacing: 0;
	width: 100px;
	padding-right: 5px;
	text-align: right;
	line-height: 20px;
	height: 20px;
}
#comment_area_list .cmt_usericon {
	float: right;
	height: 40px;
	width: 40px;
}
#cmt_page_ctl {
	width: 638px;
	overflow: hidden;
	margin: 15px 0;
}
#cmt_page_ctl ul {
	width: 150px;
	margin: 0 auto;
}
#cmt_page_ctl ul li {
	float: left;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
}
#cmt_page_ctl ul .cmt_sepa {
	border-right: 1px solid #e0e0e0;
	padding-right: 10px;
	margin-right: 10px;
}
/* product comment end */
/* guess you like AND recently viewed start */

.plate_table_temp table {
	border-collapse: separate;
	border-spacing: 14px 18px;
	margin-left: 11px;
	margin-top: -18px;
}
.plate_table_temp table tr td {
	width: 207px;
	overflow: hidden;
}
.plate_table_temp table tr td img {
	width: 207px;
	height: 207px;
	float: left;
}
.plate_table_temp .productname {
	border: 1px solid #e0e0e0;
	border-top: none;
	clear: both;
}
.plate_table_temp .productname h4 {
	text-align: center;
	font-weight: 500;
	height: 40px;
	line-height: 40px;
}
/* guess you like AND recently viewed end */